## Loading all the libraries needed

In [61]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series, read_csv
import matplotlib.pyplot as plt
import matplotlib 

# Enable inline plotting
%matplotlib inline

## Loading File

In [62]:
location = r'high-protien-food.csv'
df = pd.read_csv(location)

### Cleaning out empty rows and colums

In [63]:
df = df.dropna()
df = df.dropna(axis=1)
df

                   Food (Per 100g)  Protein Carbs g   Fat g  Calories (kcal)
0                      Almond Nuts    21.10     6.9  55.800              614
1                        Anchovies    14.50     0.1   2.800               85
2                        Asparagus     2.90       2   0.600               25
3                          Avocado     1.90     1.9  19.500              195
5                      Baked Beans     9.50    22.1   0.400              130
6                          Bananas     1.20    23.2   0.300              100
7                Beef Fillet Steak    20.90       0   7.900              155
8                Bread (wholemeal)    11.00    39.1   2.200              220
9                         Broccoli     4.20     3.2   0.200               31
10                         Carrots     0.60     7.9   0.300               37
11                          Cheese    30.90     0.1  15.000              260
12       Chicken Breast (Skinless)    23.50       0   1.700              109
13                         Coconut     3.33   15.23  33.490              354
14                        Cod fish    17.90       0   0.900               80
15                  Cottage Cheese    12.20     4.5   1.500               80
16                        Couscous    15.10    73.1   1.100              365
17                       Crab meat    18.10   trace   0.500               80
18                            eggs    12.50   Trace   3.200              151
19                    Goji Berries    12.30    57.7   0.300              285
20                    Haddock Fish    16.40       0   1.200               80
21                          Hummus     7.40     9.8  26.800              310
22                    Lamb (Steak)    19.90     0.8   3.200              115
23                         Lobster    26.41    3.12   1.940              143
24             Milk (Semi Skimmed)     3.60     4.8   1.800               50
25                    Milk (Whole)     3.30     4.7   3.600               64
27                          Orange     1.10     8.5   0.100               39
28              Orange Roughy Fish    22.64       0   0.034              105
29                           Pasta    12.50      73   1.400              355
30         Peanut Butter (Crunchy)    24.90    10.1  50.200              586
31                            Peas     5.90       9   0.900               70
32               Pizza (Pepperoni)    11.40      28  11.100              260
34                   Porridge oats    11.00      60   8.000              356
35                        Potatoes     2.10    17.2   0.200               80
36                          Prawns    17.00     0.3   0.900               80
37                   Pumpkin Seeds    28.80    15.2  45.600              586
38                    Rice (brown)     6.90      74   2.800              350
39  Salmon Fish Fillets (Boneless)    21.60       0  14.000              215
40                 Sardines (Fish)    21.50   trace   9.600              172
41                 Sausages (pork)    13.90    11.9  17.000              255
42                      soya beans    35.90    14.8  18.600              375
43                       Spaghetti     5.10      33   1.300              165
44                         Spinach     2.80     1.5   0.800               24
45                 Sunflower Seeds    23.40    18.6  47.500              600
47                    Tilapia Fish    24.00       0   4.000              105
48                            Tofu    12.10     0.6   6.000              105
49               Tuna Fish (Steak)    25.60       0   0.500              110
50              Tuna Fish (Tinned)    26.30       0  10.700              202
51        Turkey Breast (Skinless)    22.30       0   1.200              100
53                          Yogurt     4.50     6.6  11.000              145

## Top 5 Lowest Protien

In [64]:
df.sort(["Protein"], axis=0, ascending=True, inplace=True)
df.head(5)

   Food (Per 100g)  Protein Carbs g  Fat g  Calories (kcal)
10         Carrots      0.6     7.9    0.3               37
27          Orange      1.1     8.5    0.1               39
6          Bananas      1.2    23.2    0.3              100
3          Avocado      1.9     1.9   19.5              195
35        Potatoes      2.1    17.2    0.2               80

## Food with Highest Protien

In [65]:
df.sort(["Protein"], axis=0, ascending=False, inplace=True)
df.head(5)

       Food (Per 100g)  Protein Carbs g  Fat g  Calories (kcal)
42          soya beans    35.90    14.8  18.60              375
11              Cheese    30.90     0.1  15.00              260
37       Pumpkin Seeds    28.80    15.2  45.60              586
23             Lobster    26.41    3.12   1.94              143
50  Tuna Fish (Tinned)    26.30       0  10.70              202

## Food With Highest Fat

In [66]:
df.sort(["Fat g"], axis=0, ascending=False, inplace=True)
df.head(5)

            Food (Per 100g)  Protein Carbs g  Fat g  Calories (kcal)
0               Almond Nuts    21.10     6.9  55.80              614
30  Peanut Butter (Crunchy)    24.90    10.1  50.20              586
45          Sunflower Seeds    23.40    18.6  47.50              600
37            Pumpkin Seeds    28.80    15.2  45.60              586
13                  Coconut     3.33   15.23  33.49              354

## Food With Lowest Fat

In [67]:
df.sort(["Fat g"], axis=0, ascending=True, inplace=True)
df.head(5)

       Food (Per 100g)  Protein Carbs g  Fat g  Calories (kcal)
28  Orange Roughy Fish    22.64       0  0.034              105
27              Orange     1.10     8.5  0.100               39
35            Potatoes     2.10    17.2  0.200               80
9             Broccoli     4.20     3.2  0.200               31
10             Carrots     0.60     7.9  0.300               37

## Food With Highest Carb

In [68]:
df.sort(["Carbs g"], axis=0, ascending=False, inplace=True)
df.head(5)

    Food (Per 100g)  Protein Carbs g  Fat g  Calories (kcal)
17        Crab meat     18.1   trace    0.5               80
40  Sardines (Fish)     21.5   trace    9.6              172
18             eggs     12.5   Trace    3.2              151
21           Hummus      7.4     9.8   26.8              310
31             Peas      5.9       9    0.9               70

## Food With Lowest Carb

In [69]:
df.sort(["Carbs g"], axis=0, ascending=True, inplace=True)
df.head(5)

                   Food (Per 100g)  Protein Carbs g   Fat g  Calories (kcal)
14                        Cod fish    17.90       0   0.900               80
28              Orange Roughy Fish    22.64       0   0.034              105
39  Salmon Fish Fillets (Boneless)    21.60       0  14.000              215
50              Tuna Fish (Tinned)    26.30       0  10.700              202
7                Beef Fillet Steak    20.90       0   7.900              155

## Food With Highest Calories

In [70]:
df.sort(["Calories (kcal)"], axis=0, ascending=False, inplace=True)
df.head(5)

            Food (Per 100g)  Protein Carbs g  Fat g  Calories (kcal)
0               Almond Nuts     21.1     6.9   55.8              614
45          Sunflower Seeds     23.4    18.6   47.5              600
37            Pumpkin Seeds     28.8    15.2   45.6              586
30  Peanut Butter (Crunchy)     24.9    10.1   50.2              586
42               soya beans     35.9    14.8   18.6              375

## Food With Lowest Calories

In [71]:
df.sort(["Calories (kcal)"], axis=0, ascending=True, inplace=True)
df.head(5)

   Food (Per 100g)  Protein Carbs g  Fat g  Calories (kcal)
44         Spinach      2.8     1.5    0.8               24
2        Asparagus      2.9       2    0.6               25
9         Broccoli      4.2     3.2    0.2               31
10         Carrots      0.6     7.9    0.3               37
27          Orange      1.1     8.5    0.1               39